[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-ai-textanalytics = "*"
azure-cognitiveservices-speech = "*"
azure-cognitiveservices-vision-computervision = "*"
jupyter = "*"
matplotlib = "*"
pillow = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
